*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{
  padding: 0 16px;
}

.row{
  width: 100%;
  display: flex;
}

img{
  max-width: 100%;
}

.hidden{
  display: none;
}
.center-text{
  text-align: center;
}
.row-center{
  justify-content: center;
}    

.header-bar{
  background: #fff;
  margin: 25px auto 40px auto;
  width: 110px;
  height: 4px;
}

@media only screen and (min-width: 1024px){
  .container-fluid {
    padding: 0 55px;
  }
}